.input__container {
    width: 100%;
    min-width: 300px;
    background-color: rgba(85, 85, 194, 0.678);
    color: white;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


input {
    padding: 0.5rem;
    background-color: rgba(66, 66, 155, 0.678);
    border: none;
    border-radius: 15px;
    color: rgb(185, 185, 255);  
    font-size: 1.2rem;
    font-weight: bold;
    width: 95%;
}

input:focus {
    outline: none;
    outline: 2px solid  rgb(185, 185, 255);
}